

.footer_main {
    background-color: #ffffff;
    border-top: rgb(151, 151, 151) 1px solid;
}

.footer_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    padding: 20px 10%;
   
}
.footer_main h5 {
    font-size: 20px;
    margin: 15px 0 25px 0;

}

.footer_main h6 {
    font-size: 16px;
    margin: 10px 0;
    color: rgb(46, 47, 47);
   
}

.footer_main p {
    font-size: 14px;
    color: rgb(54, 56, 57);
}

.footer_main .info {
    margin: 10px 0;
}


.icons_social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    padding-right: 100px;
}



.icons_social div i {
    font-size: 35px;
   
}


.tags_product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.tags_product span {
    display: inline-block;
    color: white;
    padding: 4px 4px 8px 4px;
    text-align: center;
    background-color: #3397f3;
    white-space: nowrap;
    height: 24px;
    border-radius: 4px;
    font-size: 14px;
}

