@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


:root {
  --primary-color: #3397f3;
}

body {
  margin: 0;
  padding: 0;
  font-family:  "Arial", 'Helvetica Neue',"sans-serif";
}

* {
  box-sizing: border-box;
}

html {
  font-size: 75%;
}
